
@font-face {
    font-family: 'firago';
    src: url('/assets/Fonts/FiraGO_WEB_1001/Roman/FiraGO-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'gilroy';
    src: url("/assets/Fonts/gilroy.woff" ) format("woff"),
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'firago';
}

.page {
    display: flex;
    overflow: hidden;
}

.main {
    width: 600px;
    height: 100vh;
    background-color: #E2ECE9;
    padding: 34px 61px;
    
}

.main h1 {

    font-family: 'firago';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: capitalize;

    color: #474747;
}

.logo {
    font-family: 'gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 127px;
    text-decoration: none;
    height: 194px;
    color: #FD6F34;
}

.logo:hover {
    text-decoration: none;
    color: #FD6F34;
}

.get-idea-box {

    position: absolute;
    width: 600px;
    height: 114px;
    left: -122px;
    top: 300px;

    background: #F1F8F6;
    box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.1);
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.get-idea-text {

    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;

    width: 357px;
    margin-left: 120px;

}

hr {
    border: 1px solid #fff;

}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.icon {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.icon p {
margin-left: 25px;
font-family: 'FiraGO';
font-style: italic;
font-weight: 500;
font-size: 20px;
line-height: 24px;
margin-bottom: 0;

}


.background-color {
    display: flex;
    width: 1388px;
    height: 100vh;
    left: 1959px;
    top: 0px;
    overflow-y: scroll;
    background: linear-gradient(252.36deg, #FFF1E6 0.79%, #FDE2E4 97.68%, #FFF1E6), #003F58;
}

.background-image {
    background-image: url(assets/images/background.png);
    margin: 50px auto auto auto;
    width: 1122px;
    height: auto;
    min-height: 94vh;
    right: 120px;
    
}


.chat-text {
    display: flex;
    width: 1388px;
    height: auto;
    left: 1959px;
    top: 0px;
    overflow: scroll;

}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 77px 487px;

}

.profile h6 {
    font-size: 20px;
    margin: 20px;
}

.profile h5 {
    font-family: 'firago';
    font-weight: 700;
    font-size: 16px;
    width: 206px;
}


.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.bot-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.chat-detail-user {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px;

}


.chat-detail-user-background {
    background-color: #FFF1E6;
    width: auto;
    height: auto;
    padding: 20px 10px;
    margin: 0px 20px;
    border-radius: 20px;
    max-width: 50%;
}

.chat-detail-user-text {
    margin: 0px 20px;
}




.chat-detail-bot {
    display: flex;
    margin: 30px;

}


.chat-detail-bot-background {
    background-color: #FDE2E4;
    width: auto;
    height: auto;
    padding: 20px 10px;
    margin: 0px 20px;
    border-radius: 20px;
    max-width: 50%;
}

.chat-detail-bot-text {
    margin: 0px 20px;
}


.textarea {
    position: relative;
}

.textarea input {
    width: 1000px;
    height: 60px;
    display: block;
    margin: auto;
    margin-bottom: 50px;

    box-shadow: 0px 1px 21px #FAD2E1;
    border: 1px solid transparent;
    padding: 0px 100px 0px 10px;
    border-radius: 20px;
    position: fixed;
    bottom: 0px;
    margin: 40px 80px;
}

.textarea input:active {
    border: 1px solid transparent;
}

.textarea a {
    background: #BEE1E6;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    border-radius: 8px;

    position: fixed;
    bottom: 48px;
    right: 200px;

}

.chat-detail-final {
    display: flex;
    justify-content: center;
    margin: 30px;

}


.chat-detail-final {
    background-color: #E2ECE9;
    width: auto;
    height: auto;
    padding: 20px 10px;
    margin: 0px 20px;
    border-radius: 20px;
    max-width: 40%;
}

.chat-detail-final-text {
    margin: 0px 20px;
}


.with-image {
    padding: 20px;
}

.with-image img {
    display: block;
margin: 0 auto;
}

.with-image h3 {
    font-weight: bold;

}

.price {
    display: flex;
    height: 40px;
}

.price p {
    padding: 10px 0px;
}


.price a {
    margin: 0px 40px;
    padding: 10px 20px;
    background-color: #FAD2E1;
    color: #000000;
    border-radius: 10px;
}

.price a:hover {
text-decoration: none;
color: #000000;
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;

}

.load-more a{
    color: black;
    margin: 20px;
    margin-bottom: 150px;
}

.load-more a:hover {
    color: #000000;
    text-decoration: none;
}

.load-more1 {
    background-color: #BEE1E6;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.reset {
    background-color: #EDEDED;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}


